/*--------------SubHero Section-------------------*/
.sub-hero-section {
  height: 45vh;
  background: url("../images/hero-img.jpg") top no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.page-info {
  color: #fff;
  padding: 0 8vw 5%;
}

.page-heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 43px;
  padding-bottom: 1rem;
}

.current-page,
.home-link,
.arrow-icon .fa-chevron-right {
  color: #fff;
  font-size: 0.9rem;
  line-height: 20px;
  text-decoration: none;
}

.home-link {
  padding-right: 0.4rem;
}

.current-page {
  padding-left: 0.4rem;
}

/*-----------Contact-us Section -----------------*/
.contactus-section {
  padding: 10vh 8vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 5vh;
}

.email-heading,
.contact-form-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 8vh;
  text-transform: uppercase;
}

.contactus-location {
  font-family: "Montserrat", sans-serif;
  font-size: 1.15rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.contactus-email-text,
.contactus-email {
  font-size: 1.15rem;
  font-weight: 600;
  line-height: 32px;
}

.contactus-email {
  font-weight: 400;
  color: #636363;
}

.inputs-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#user-name,
#user-email,
#user-message {
  background-color: #f6f8f9;
  border: 1px solid #ebebeb;
  color: #333;
  display: inline-block;
  font-size: 1rem;
  padding: 1rem 1.25rem;
  outline: none;
}

#user-name {
  margin-right: 25px;
}

#user-name,
#user-email {
  width: 47%;
  margin-bottom: 20px;
}

#user-message {
  width: 100%;
  font-family: Roboto, sans-serif;
  margin-bottom: 2.5rem;
}

.submit-message {
  background-color: #dd3e3e;
  border: 2px solid #dd3e3e;
  color: #fff;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.submit-message:hover {
  background-color: #fff;
  color: #dd3e3e;
}

/*---------------------MEDIA QUERIES-------------------*/
@media (max-width: 992px) {
  .contactus-section {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto 1fr;
    grid-template-rows: auto 1fr;
  }
}

@media (max-width: 576px) {
  .contactus-section {
    padding: 10vh 3vw;
  }
  .inputs-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  #user-name,
  #user-email {
    width: 100%;
  }
}
